:root {
    --light-brown:#d8cbc4;
    --dark-brown:#3d251e;
    --normal-brown:#7c6152;
    --darkest-brown:#1d1915;
    --gray:#93877E;
}

body {
    font-family: poppins;
    background-color: var(--light-brown);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--darkest-brown);
}

.container {
    background: var(--normal-brown);
    padding: 5rem;
    border-radius: 30px;
    box-shadow: 0 0 15px var(--normal-brown);
    width: 300px;
    
}

h1 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--darkest-brown);
}

input[type="text"]{
    width: 85%;
    padding: 1.2rem;
    border-radius: 7px;
    border: 1px solid var(--darkest-brown) ;
    margin-bottom: 0.8rem;
}

button {
    width: 100%;
    background-color: var(--dark-brown);
    color: var(--light-brown);
    padding: 0.5rem 0;
    border-radius: 20px;
    box-shadow: 0 3px 25px 5px var(--light-brown);
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.complete, .delete {
    font-size: 0.5rem;
    padding: 0.3rem, 0.3rem;
    width: 100px;
    align-items: right;
    background-color: var(--light-brown);
    color: #1d1915;
    box-shadow: none;

}

button:hover {
    background-color: var(--light-brown);
    color: var(--dark-brown);
}

/* After user added some tasks */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

li {
    padding: 10px;
    border-bottom: 1px solid var(--light-brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* when tasks get completed */
li.completed {
    text-decoration: line-through;
    color:var(--gray) ;
}
